// Fonts
$main-font: "OpenSans Regular", sans-serif;

// Colors
$brown: #393A3F;
$black: #000000;
$dark-blue: #556080;
$grey: #CACACA;
$red: #F16953;
$light-black: #2D2E2E;
$light-grey: #F7F7F7;
$light-green: #EAF9FF;
$medium-black: #232323;
$medium-grey: #AEAEAE;
$mint: #1EBEB4;
$white: #ffffff;
$yellow: #FCC659;

// MQ Break-points
$xxl: 1549px;
$xl: 1272px;
$lg: 1199px;
$md: 991px;
$xs: 767px;
$s: 473px;

// Containers
$container-max-width-xl: 1440px;
$container-max-width-lg: 1140px;
$container-max-width-md: 960px;
$container-max-width-xs: 720px;

// Devices Widths
$iphone5: 320px;
$iphone6: 375px;
$iphone6Plus: 414px;
$ipad: 1024px;
$ipad-pro: 1366px;
